.container{
  padding: 15px;
  label{
    display: block;
  }
  input[type="text"], input[type="password"]{
    display: block;
    padding: 11px;
    font-size: 18px;
    border: 1px solid rgba(0,0,0,0);
    outline: none;
    &:focus{
      border: 1px solid #ccc;
    }
  }
}