.field{
	display: flex;
	flex-direction: column;
	justify-content: stretch;
	align-items: center;
	margin-bottom: 30px;

	label{
		text-align: center;
		padding: 10px 0;
		font-weight: 600;
	}

	input[type="text"], select {
		padding: 5px;
		margin: 0;
		box-sizing: border-box;
	}
	input, textarea, select {
		display: block;
		flex: 0 0 100%;
		width: 100%;
	}
}