.container {
	flex: 1 1 auto;
	overflow: hidden;

	&.show {
		.formContainer{
			transform: translate(0);
			opacity: 1;
		}
	}
}
.formContainer{
	display: flex;
	justify-content: center;
	height: 100%;
	margin-left: 30px;
	padding: 80px 60px 60px;
	box-shadow: -5px 0px 30px 0px rgba(0,0,0,0.3);
	transform: translateX(50px);
	opacity: 0;

	transition: {
		property: all;
		duration: .3s;
		timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
	}
}
.form{
	display: block;
	width: 100%;
}