$pulse-colors: #94CADF;

.container{
	display: flex;
	justify-content: center;
	margin-bottom: 30px;
}
.avatar{
	border-radius: 50%;
	width: 150px;
	height: 150px;
	border: 1px solid #ccc;
	padding: 1px;
	box-sizing: border-box;
	cursor: pointer;
	overflow: hidden;
	background: {
		position: center center;
		size: cover;
	}

	&.hasImage{
		padding: 0;
		border: 0;
	}
	
	&:hover{
		box-shadow: 0 0 0 transparentize($pulse-colors, 0.6);
		animation: pulse 1s infinite;
	}
}

@keyframes pulse {
  0% {
		box-shadow: 0 0 0 0 transparentize($pulse-colors, 0.6);
  }
  70% {
		box-shadow: 0 0 0 10px transparentize($pulse-colors, 1);
  }
  100% {
		box-shadow: 0 0 0 0 transparentize($pulse-colors, 1);
  }
}